In [19]:
print("Welcome" + " Home")

print(" I love {a}". format(a='cats'))

i=7
if i in range(7):
    print("Found")
    
#list(range(1,7)) 
list(range(-7,3))

Welcome Home
 I love cats

In [20]:

numbers=[1,2,3,8,5]
numbers.sort()
print(numbers)

[1, 2, 3, 5, 8]

In [26]:
# Sum of first 100 numbers

def sum_of_num():
    sum=0
    for i in range(1,101):
        sum= sum+i
    print(sum)    
    
    
sum_of_num()

5050

In [27]:
def sum_100():
    return(sum(range(1,101)))
sum_100()

5050

In [ ]:
def divisible():
    num1= int(input('Enter the first num'))
    num2= int(input('Enter the second num'))
    if(num1%num2 == 0):
        print('Divisible')
    else:
        print('Not divisible')
divisible()

In [ ]:
def divisible(x,y):
    if(x%y == 0):
        print('Divisible')
    else:
        print('Not divisible')
divisible(11,5)

In [ ]:
class Square():
    def perimeter(self,side):
        return side*4
a = Square()
print (a.perimeter(14))

In [14]:
class Student():
    def __init__(self,name):
        self.name = name
a= Student("Sam")

In [13]:
index = 0
myString = 'This is a String.'
while(index < len (myString)):
    if myString[index] =='S':
        print ("Found a J!!!")
    index = index + 1

Found a J!!!

In [4]:
myString = "This is a test."
hisString = myString[1 : 4]
#testString = myString[10 : ]

In [6]:
mytuple=(11,22,33)
mytuple[1]
mytuple

NameError: name 'mutuple' is not defined

In [8]:
mytuple =(11,22,33)
mutuple +=(44,)
mytuple

NameError: name 'mutuple' is not defined

In [9]:
atuple=(55,222,88,99)
atuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [10]:
atuple=(55,222,88,99)
sorted(atuple)

[55, 88, 99, 222]

In [14]:
mylist = [11,22,10]
myliste[2] = 49
print(mytuple)

mydic= { 1 :'Manajuna', 2:'Tunajami', 3:'Tasaki'}
mydic.values()
mydic.keys()

[11, 22, 49]

dict_keys([1, 2, 3])

In [1]:
mylist = [11,22,10]
mylist.append(49)
print(mylist)
mylist.sort(reverse=True)
mylist

[11, 22, 10, 49]

[49, 22, 11, 10]

In [36]:
mydic= { 'a' :'Manajuna', 'b':'Tunajami', 'c':'Tasaki'}
mydic.items()
mydic['a']
mydic.update({'a': "Tashmania"})
mydic
mydic.update({"d": "Chanamona"})
mydic

a ={'Alice': 26, 'Carol': 85,'Pashmina': 74}
a
a.pop('Carol')
a

{'Alice': 26}

In [38]:
a ={'Alice': 26, 'Carol': 85,'Pashmina': 74}
a
a.popitem()
a

{'Alice': 26, 'Carol': 85}

In [44]:
# Sets
set_car={"GM","Audi","BMW","Maruti","BMW"}
set_car
set_auto_menu={'Tata','Nexa','GM'}
set_car.union(set_auto_menu)
set_car.intersection(set_auto_menu)

{'GM'}

In [ ]:
import turtle
turtle.forward(55)
t