In [77]:
cd C:\Users\pushkar\Downloads\RERA - S&G - Bank Statements - 02.06.2020

C:\Users\pushkar\Downloads\RERA - S&G - Bank Statements - 02.06.2020

In [9]:
ls

 Volume in drive C has no label.
 Volume Serial Number is E463-CE57

 Directory of C:\Users\pushkar

23-06-2020  17:37    <DIR>          .
23-06-2020  17:37    <DIR>          ..
24-01-2020  17:35    <DIR>          .anaconda
24-06-2020  14:34    <DIR>          .atom
22-06-2020  17:21            12,926 .bash_history
27-01-2020  08:17    <DIR>          .conda
02-06-2020  12:59                43 .condarc
14-04-2020  16:48    <DIR>          .config
08-05-2020  12:07    <DIR>          .continuum
08-02-2020  17:57    <DIR>          .idlerc
22-06-2020  17:20    <DIR>          .ipynb_checkpoints
24-01-2020  18:13    <DIR>          .ipython
09-05-2020  11:46    <DIR>          .jupyter
27-01-2020  14:48    <DIR>          .matplotlib
17-02-2020  10:55    <DIR>          .ssh
23-02-2020  23:15               963 .viminfo
24-01-2020  17:43    <DIR>          .vscode
27-05-2020  03:45            22,850 _viminfo
12-06-2020  14:56    <DIR>          3D Objects
09-02-2020  11:04                 0 5
09-02-2020  11:04                 0 7
15-02-2020  22:13    <DIR>          back
15-02-2020  22:15        80,541,648 back.rar
08-05-2020  16:44    <DIR>          back1
15-02-2020  22:14        85,488,410 back1.zip
27-03-2020  12:08    <DIR>          base_backup
19-03-2020  18:42    <DIR>          base_file_imgprocessing
03-06-2020  16:01    <DIR>          Big Basket
17-04-2020  00:31           327,587 CardioGoodFitness - Descriptive Statistics.ipynb
17-04-2020  00:32             7,460 CardioGoodFitness-1.csv
08-05-2020  18:55            22,825 checking_numpy_randomState.ipynb
02-05-2020  05:26           126,942 Competitor_Analysis.ipynb
03-05-2020  15:08           122,653 Competitor_Analysis-Copy1.ipynb
23-06-2020  17:12           123,265 Consulting_manipulations.ipynb
12-06-2020  14:56    <DIR>          Contacts
19-04-2020  17:29    <DIR>          CorePython
17-02-2020  15:33    <DIR>          Data_Science
09-05-2020  11:27    <DIR>          datasets
27-01-2020  08:54         8,840,065 datasets.zip
05-06-2020  21:34    <DIR>          Dell_Inspiron_works
24-06-2020  16:22    <DIR>          Desktop
12-06-2020  14:56    <DIR>          Documents
25-06-2020  12:35    <DIR>          Downloads
07-05-2020  17:56           902,226 eda-on-top-spotify-songs.ipynb
09-03-2020  10:13    <DIR>          effective-pandas
12-06-2020  14:56    <DIR>          Favorites
19-04-2020  16:29    <DIR>          Great_Learning
04-06-2020  23:29    <DIR>          Guru-Jana
02-06-2020  17:41           812,092 ipl-a-complete-analysis.ipynb
07-05-2020  00:36    <DIR>          ipldata
07-05-2020  00:35         1,260,993 ipldata.zip
29-04-2020  20:04            26,269 Joking_Bad.ipynb
23-02-2020  23:27    <DIR>          Jupyter
09-02-2020  11:04                 0 Keyboard
12-06-2020  14:56    <DIR>          Links
27-01-2020  11:47        15,627,310 Master-Data-Analysis-with-Python-Intro-to-pandas.zip
05-02-2020  21:33    <DIR>          MediumArticle-FuzzyWuzzy-master
05-02-2020  21:32           947,116 MediumArticle-FuzzyWuzzy-master.zip
12-06-2020  14:56    <DIR>          Music
25-06-2020  16:24    <DIR>          OneDrive
23-01-2020  11:44    <DIR>          OpenVPN
29-01-2020  10:20    <DIR>          Opinionated pandas
24-02-2020  00:09    <DIR>          pandas
27-01-2020  21:58           345,905 Pandas_Cheat_Sheet.pdf
09-03-2020  10:13    <DIR>          pandas_exercises
27-01-2020  22:16    <DIR>          pandas_justMark
06-05-2020  22:51    <DIR>          Pandas_reference
17-02-2020  15:33    <DIR>          Pandas-Data-Science-Tasks
23-06-2020  17:37           347,800 pdf_ply.ipynb
12-06-2020  14:56    <DIR>          Pictures
06-05-2020  23:37         8,923,131 plotting-with-python-learn-80-plots-step-by-step.ipynb
24-01-2020  17:43    <DIR>          Postman
27-01-2020  22:26    <DIR>          pycon-2018-tutorial-master
27-01-2020  22:26    <DIR>          pycon-2019-tutorial-master
27-01-2020  22:24    <DIR>          pyconuk-2017-pandas-steveSimmons
27-01-2020  22:19    <DIR>          pydata-amsterdam2017 SteveSimmons
09-04-2020  18:16    <DIR>          python_oops
27-01-2020  22:26    <DIR>          python-reference-justMark
17-08-2019  23:45    <DIR>          Roaming
12-06-2020  14:56    <DIR>          Saved Games
12-06-2020  14:56    <DIR>          Searches
12-06-2020  16:37    <DIR>          Store_KING
09-02-2020  11:04                 0 str
07-05-2020  17:57    <DIR>          top-spotify-songs-from-20102019-by-year
07-05-2020  17:56            19,774 top-spotify-songs-from-20102019-by-year.zip
27-01-2020  12:01    <DIR>          udemy_pandas
12-06-2020  14:56    <DIR>          Videos
19-06-2020  07:18           127,799 Wallet_Report.ipynb
27-01-2020  12:00    <DIR>          webScrapping
08-03-2020  10:31    <DIR>          Whatsapp_chat-Analyser-master
24-01-2020  18:05        35,112,741 Whatsapp_chat-Analyser-master.zip
              29 File(s)    240,090,793 bytes
              62 Dir(s)  32,520,667,136 bytes free

In [79]:
# Importing some necessary libraries
import pandas as pd
import numpy as np
import re,os,datetime
import io

pd.set_option('display.max_rows', 500)
pd.options.display.max_columns = 500
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', -1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  # Remove the CWD from sys.path while we load stuff.

### Loading `Corporation Bank - Akshay Nagar 1`

In [81]:
cb_aks1_13_14 = pd.read_excel('Corporation Bank - Akshay Nagar 1.xlsx', sheet_name = '01-04-13 to 31-03-14')
cb_aks1_14_15 = pd.read_excel('Corporation Bank - Akshay Nagar 1.xlsx', sheet_name = '01-04-2014 to 31-03-2015')
cb_aks1_15_16 = pd.read_excel('Corporation Bank - Akshay Nagar 1.xlsx', sheet_name = '01-04-2015 to 25-07-2015')
cb_aks1_16_17 = pd.read_excel('Corporation Bank - Akshay Nagar 1.xlsx', sheet_name = '01-04-16 to 31-03-17')
cb_aks1_18_18 = pd.read_excel('Corporation Bank - Akshay Nagar 1.xlsx', sheet_name = '01-04-18 to 20-08-18')

In [82]:
cb_aks1_13_14.dtypes

Date           datetime64[ns]
Particulars    object
Cheque No      object
Debit          float64
Credits        float64
Balance        object
dtype: object

In [83]:
cb_aks1_14_15.dtypes

Date           datetime64[ns]
Particulars    object
Cheque No      object
Debit          float64
Credits        float64
Balance        object
dtype: object

In [84]:
cb_aks1_15_16.dtypes

Date           datetime64[ns]
Particulars    object
Cheque No      object
Debit          float64
Credits        float64
Balance        object
dtype: object

In [85]:
cb_aks1_16_17.dtypes

Date           datetime64[ns]
Particulars    object
Cheque No      object
Debit          object
Credits        object
Balance        object
dtype: object

In [86]:
cb_aks1_18_18.dtypes

Date             datetime64[ns]
Trans Num        object
Reference Num    float64
Particulars      object
Debit            float64
Credits          float64
Balance          object
dtype: object

In [87]:
def rolling_group(val):
      if pd.notnull(val): rolling_group.group +=1 #pd.notnull is signal to switch group
      return rolling_group.group
rolling_group.group = 0 #static variable

In [88]:
def joinFunc(g,column):
    col =g[column]
    joiner = "/" if column == "Particulars" else ","
    s = joiner.join([str(each) for each in col if pd.notnull(each)])
    s = re.sub("(?<=&)"+joiner," ",s) #joiner = " "
    s = re.sub("(?<=-)"+joiner,"",s) #joiner = ""
    s = re.sub(joiner*2,joiner,s)    #fixes double joiner condition
    return s

In [89]:
# cb_aks1_13_14 = pd.read_excel('Corporation Bank - Akshay Nagar 1.xlsx', sheet_name = '01-04-13 to 31-03-14')

if __name__ == "__main__":
	  
    df =  cb_aks1_13_14.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin=(groups.apply(groupFunct))

In [125]:
fin.head(9)

                  Date                                                                             Particulars       Cheque No      Debit   Credits          Balance       Ref: Inst. no.: Chq: RTGS_UTR No: RETD :                 Names_TO:                 Names_st.                 Names/*_/:                                                      Final_touch      Names/$_/:           Names/$#_/:
0  2013-06-07 00:00:00  BY INITIAL CASH DEPOSIT                                                                 TRF                        50000.0   50,000.00CR                                                     BY INITIAL CASH DEPOSIT   BY INITIAL CASH DEPOSIT    INITIAL CASH DEPOSIT                                                                       INITIAL CASH    INITIAL CASH DEPOSIT
1  2013-06-18 00:00:00  BY S BEHURA                                                                             TRF                        500000.0  5,50,000.00CR                                                   BY S BEHURA               BY S BEHURA                BEHURA                                                                                                     BEHURA
2  2013-06-21 00:00:00  BY SB/1/2641 OF VIJAY UPADHYAY                                                          TRF                        500000.0  10,50,000.00CR                                                  BY SB/ OF VIJAY UPADHYAY  BY  OF VIJAY               VIJAY UPADHYAY                                                                             VIJAY UPADHYAY  VIJAY UPADHYAY
3  2013-06-21 00:00:00  BY CASH                                                                                 CSH                        200000.0  12,50,000.00CR                                                  BY CASH                   BY CASH                    CASH
4  2013-07-08 00:00:00  NEFT from SHWETA MISHRA /Ref:460169407    Dt:08072013/S1:000004 Dest:CORP0001678        TRF ,TRF ,TRF              1111.0    12,51,111.00CR   460169407                                      NEFT  SHWETA MISHRA /     NEFT  SHWETA MISHRA       NEFT  SHWETA MISHRA /CORP   from S Dest                                                     SHWETA MISHRA   SHWETA MISHRA
5  2013-07-09 00:00:00  SflANSU BEHUNA                                                                          CSH 0019401     1000000.0            2,51,111.00CR                                                   ANSU BEHUNA               ANSU                      ANSU BEHUNA                                                                                 ANSU BEHUNA
6  2013-10-10 00:00:00  SELF                                                                                    CSH 0019404     150000.0             1,01,111.00CRP                                                                                                      SELF
7  2013-12-31 00:00:00  Non Maintenance of qtrly avg Bal chi /For the Period.from 01/16/2013 /Upto 31/12/2013   TRF ,TRF ,TRF   2247.0               98,864.00CR                                                                                                                                    Non Maintenance of qtrly avg Bal chi /For the Periodfrom /Upto
8  2014-02-03 00:00:00  BY CASH                                                                                 CSH                        65000.06   1,63,864.00CR                                                  BY CASH                   BY CASH                    CASH

In [91]:
fin.shape

(38, 6)

In [169]:
# Applying regular expression to extract the desired data
fin['Ref:'] = ["".join(re.findall(r'Ref:(.*?) ', i)) for i in fin['Particulars']]
fin['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin['Particulars']]
fin['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin['Particulars']]
fin['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin['Particulars']]
fin['RETD :'] = ["".join(re.findall(r'[Rr][eE][Tt][Dd]', i)) for i in fin['Particulars']]

In [170]:
fin['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin['Particulars']]
fin['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin['Particulars']]
fin['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin['Particulars']]
fin['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin['Particulars']]

In [171]:
fin['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin['Particulars']]
fin['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin['Particulars']]
fin['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin['Particulars']]
fin['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin['Particulars']]

fin['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin['Particulars']]

In [172]:
fin.to_excel('Exported_Corporation Bank - Akshay Nagar 1_13_14.xlsx', index = False)

In [ ]:
fin_g = fin.groupby(['Date', 'Particulars']).agg({'Debit': ['sum'], 'Credits': 'sum'}).reset_index()
fin_g.head(8)

In [130]:
# cb_aks1_14_15 = pd.read_excel('Corporation Bank - Akshay Nagar 1.xlsx', sheet_name = '01-04-2014 to 31-03-2015')

if __name__ == "__main__":
	  
    df =  cb_aks1_14_15.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin1=(groups.apply(groupFunct))

In [131]:
fin1.dtypes

Date           object
Particulars    object
Cheque No      object
Debit          object
Credits        object
Balance        object
dtype: object

In [174]:
# Applying regular expression to extract the desired data
fin1['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin1['Particulars']]
fin1['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin1['Particulars']]
fin1['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin1['Particulars']]
fin1['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin1['Particulars']]
fin1['RETD :'] = ["".join(re.findall(r'[Rr][eE][Tt][Dd]', i)) for i in fin1['Particulars']]
fin1['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin1['Particulars']]
fin1['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin1['Particulars']]
fin1['Cancelled?'] = fin1.Particulars.str.contains('RETD', flags=re.IGNORECASE, regex=True)
# [\n\r][ \t]*Object Name:[ \t]*([^\n\r]*)
fin1['Reference No:'] = ["".join(re.findall(r'(?<=Reference No:).*', i)) for i in fin1['Particulars']]

In [175]:
fin1['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin1['Particulars']]

In [176]:
fin1['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin1['Particulars']]

In [177]:
fin1['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin1['Particulars']]

In [178]:
fin1['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin1['Particulars']]

In [179]:
fin1['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin1['Particulars']]
fin1['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin1['Particulars']]
fin1['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin1['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin1['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin1['Particulars']]
fin1['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin1['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin1['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin1['Particulars']]

fin1['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin1['Particulars']]

In [180]:
fin1.to_excel('Exported_Corporation Bank - Akshay Nagar 1_14_15.xlsx', index = False)

In [ ]:
fin1_g = fin1.groupby(['Date', 'Particulars']).agg({'Debit': ['sum'], 'Credits': 'sum'}).reset_index()
fin1_g.head(8)

In [139]:
# cb_aks1_15_16 = pd.read_excel('Corporation Bank - Akshay Nagar 1.xlsx', sheet_name = '01-04-2015 to 25-07-2015')

if __name__ == "__main__":
	  
    df =  cb_aks1_15_16.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin2=(groups.apply(groupFunct))

In [181]:
# Applying regular expression to extract the desired data
fin2['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin2['Particulars']]
fin2['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin2['Particulars']]
fin2['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin2['Particulars']]
# fin1['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin1['Particulars']]
fin2['RETD :'] = ["".join(re.findall(r'[Rr][eE][Tt][Dd]', i)) for i in fin2['Particulars']]
fin2['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin2['Particulars']]
fin2['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin2['Particulars']]
fin2['Cancelled?'] = fin2.Particulars.str.contains('RETD', flags=re.IGNORECASE, regex=True)
# [\n\r][ \t]*Object Name:[ \t]*([^\n\r]*)
fin2['Reference No:'] = ["".join(re.findall(r'(?<=Reference No:).*', i)) for i in fin2['Particulars']]

In [182]:
fin2['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin2['Particulars']]
fin2['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin2['Particulars']]
fin2['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin2['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin2['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin2['Particulars']]
fin2['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin2['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin2['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin2['Particulars']]

fin2['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin2['Particulars']]

In [183]:
fin2.head(1)

                  Date                                                                                      Particulars Cheque No    Debit Credits Balance Ref: Inst. no.: Chq: RETD : UTR : UTR_extn :  Cancelled?   Reference No:                    Names_TO:                   Names_st.                 Names/*_/:   Names/$_/:        Names/$#_/:                               Final_touch
0  2015-04-04 00:00:00  ECS Debit : TP HSBC TOYOTA FINAN Sequence No:2138988821 Upld S1:01  Reference No: 0001045538709  TRF       79140.0          836648                                               False        0001045538709  ECS D TP HSBC TOYOTA FINAN   ECS  TP HSBC TOYOTA FINAN   ECS D HSBC TOYOTA FINAN S  HSBC TOYOTA  HSBC TOYOTA FINAN   Debit  Sequence No Upld S  Reference No

In [184]:
fin2.to_excel('Exported_Corporation Bank - Akshay Nagar 1_15_16.xlsx', index = False)

In [ ]:
fin2_g = fin2.groupby(['Date', 'Particulars']).agg({'Debit': ['sum'], 'Credits': 'sum'}).reset_index()
fin2_g.head(8)

In [144]:
# cb_aks1_16_17 = pd.read_excel('Corporation Bank - Akshay Nagar 1.xlsx', sheet_name = '01-04-16 to 31-03-17')

if __name__ == "__main__":
	  
    df =  cb_aks1_16_17.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin3=(groups.apply(groupFunct))

In [185]:
# Applying regular expression to extract the desired data
fin3['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin3['Particulars']]
fin3['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin3['Particulars']]
fin3['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin3['Particulars']]
fin3['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin3['Particulars']]
fin3['RETD :'] = ["".join(re.findall(r'[Rr][eE][Tt][Dd]', i)) for i in fin3['Particulars']]
fin3['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin3['Particulars']]
fin3['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin3['Particulars']]
fin3['Cancelled?'] = fin3.Particulars.str.contains('RETD', flags=re.IGNORECASE, regex=True)
# [\n\r][ \t]*Object Name:[ \t]*([^\n\r]*)
fin3['Reference No:'] = ["".join(re.findall(r'(?<=Reference No:).*', i)) for i in fin3['Particulars']]

In [186]:
fin3['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin3['Particulars']]
fin3['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin3['Particulars']]
fin3['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin3['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin3['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin3['Particulars']]
fin3['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin3['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin3['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin3['Particulars']]

fin3['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin3['Particulars']]

In [187]:
fin3.head()

                  Date                                                                                        Particulars    Cheque No  Debit Credits      Balance Ref: Inst. no.:          Chq: RTGS_UTR No: RETD : UTR : UTR_extn :  Cancelled?   Reference No:                                                      Names_TO:                                                Names_st.                                                     Names/*_/:                      Names/$_/:                                    Names/$#_/:                               Final_touch
0  2016-04-02 00:00:00  ABB 0002 CBCA /01/000224 Chq:148471/1164/BANGALORE - CHAND - SHWETA AND/SHWETA AND GITA CONS       TRF,TRF,TRF         85000   86,443.00CR                  148471/1164/                                       False                       ABB  CBCA //BANGALORE  CHAND  SHWETA AND/SHWETA AND GITA CONS  ABB  CBCA BANGALORE  CHAND  SHWETA AND/SHWETA AND GITA   ABB  CBCA //BANGALORE  CHAND  SHWETA AND/SHWETA AND GITA CONS  SHWETA AND/SHWETA ANDGITA CONS  /BANGALORE - CHAND SHWETA AND/SHWETA AND GITA
1  2016-04-02 00:00:00  ECS Return Charges /Date : 02042016 Upload Si : 03                                                 TRF,TRF      573            85,870.00CR                                                                     False                       ECS R                                                          ECS                                                      ECS R                                                                                                                                          Return Charges /Date  Upload Si
2  2016-04-02 00:00:00  NECS Debit : TP HSBC TOYOTA FINAN /Sequence No:3566441708 Upld S1:03 /Reference No: 0001173194677  TRF,TRF,TRF  79140          6,730.00CR                                                                      False        0001173194677  NECS D TP HSBC TOYOTA FINAN                                    NECS  TP HSBC TOYOTA FINAN                               NECS D HSBC TOYOTA FINAN /                                     HSBC TOYOTA                     HSBC TOYOTA FINAN                               Debit /Sequence No Upld S/Reference No
3  2016-04-02 00:00:00  ECS Return Charges Recredited Ref. /Dt:02042016 Upld S1:01Dt1 S1:000004                            TRF,TRF             573     7,303.00CR                                                                      False                       ECS R                                                          ECS                                                      ECS R                                                                                                                                          Return Charges Recredited Ref Upld S
4  2016-04-02 00:00:00  Charges Coll. From Queue / for not Maintg. Min/Avg.Bal. /On 31032016                               TRF,TRF,TRF  2290           5,013.00CR.                                                                     False                                                                                                                                                                                                                                                                                             Charges Coll From Queue / for not Maintg

In [188]:
fin3.to_excel('Exported_Corporation Bank - Akshay Nagar 1_16_17.xlsx', index = False)

In [ ]:
fin3_g = fin3.groupby(['Date', 'Particulars']).agg({'Debit': ['sum'], 'Credits': 'sum'}).reset_index()
fin3_g.head(8)

In [148]:
# cb_aks1_18_18 = pd.read_excel('Corporation Bank - Akshay Nagar 1.xlsx', sheet_name = '01-04-18 to 20-08-18')

if __name__ == "__main__":
	  
    df =  cb_aks1_18_18.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin4=(groups.apply(groupFunct))

In [189]:
# Applying regular expression to extract the desired data
fin4['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin4['Particulars']]
fin4['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin4['Particulars']]
fin4['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin4['Particulars']]
fin4['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin4['Particulars']]
fin4['RETD :'] = ["".join(re.findall(r'[Rr][eE][Tt][Dd]', i)) for i in fin4['Particulars']]
fin4['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin4['Particulars']]
fin4['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin4['Particulars']]
fin4['Cancelled?'] = fin4.Particulars.str.contains('RETD', flags=re.IGNORECASE, regex=True)
# [\n\r][ \t]*Object Name:[ \t]*([^\n\r]*)
fin4['Reference No:'] = ["".join(re.findall(r'(?<=Reference No:).*', i)) for i in fin4['Particulars']]

In [190]:
fin4['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin4['Particulars']]
fin4['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin4['Particulars']]
fin4['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin4['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin4['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin4['Particulars']]
fin4['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin4['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin4['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin4['Particulars']]

fin4['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin4['Particulars']]

In [ ]:
len(fin4['Inst. no.:'])

In [191]:
fin4.to_excel('Exported_Corporation Bank - Akshay Nagar 1_18_18.xlsx', index = False)

In [ ]:
fin4_g = fin4.groupby(['Date', 'Particulars']).agg({'Debit': ['sum'], 'Credits': 'sum'}).reset_index()
fin4_g.head(8)

### Loading `Corporation Bank - Chandpura Circle- Consolidated Bank statement`

In [192]:
cb_cc_14_15 = pd.read_excel('Corporation Bank - Chandpura Circle- Consolidated Bank statement.xlsx', sheet_name = '01-04-2014 to 31-03-2015')
cb_cc_15_16 = pd.read_excel('Corporation Bank - Chandpura Circle- Consolidated Bank statement.xlsx', sheet_name = '01-04-2015 to 31-03-2016')
cb_cc_16_17 = pd.read_excel('Corporation Bank - Chandpura Circle- Consolidated Bank statement.xlsx', sheet_name = '01-04-2016 to 31-03-2017')
cb_cc_17_18 = pd.read_excel('Corporation Bank - Chandpura Circle- Consolidated Bank statement.xlsx', sheet_name = '01-04-2017 to 31-03-2018')
cb_cc_18_18 = pd.read_excel('Corporation Bank - Chandpura Circle- Consolidated Bank statement.xlsx', sheet_name = '01-04-2018 to 06-06-2018')

In [193]:
# cb_cc_14_15 = pd.read_excel('Corporation Bank - Chandpura Circle- Consolidated Bank statement.xlsx', sheet_name = '01-04-2014 to 31-03-2015')

if __name__ == "__main__":
	  
    df =  cb_cc_14_15.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin11=(groups.apply(groupFunct))

In [194]:
# Applying regular expression to extract the desired data
fin11['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin11['Particulars']]
fin11['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin11['Particulars']]
fin11['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin11['Particulars']]
fin11['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin11['Particulars']]
fin11['RETD :'] = ["".join(re.findall(r'[Rr][eE][Tt][Dd]', i)) for i in fin11['Particulars']]
fin11['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin11['Particulars']]
fin11['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin11['Particulars']]
fin11['Cancelled?'] = fin11.Particulars.str.contains('RETD', flags=re.IGNORECASE, regex=True)
# [\n\r][ \t]*Object Name:[ \t]*([^\n\r]*)
fin11['Reference No:'] = ["".join(re.findall(r'(?<=Reference No:).*', i)) for i in fin11['Particulars']]

In [195]:
fin11['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin11['Particulars']]
fin11['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin11['Particulars']]
fin11['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin11['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin11['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin11['Particulars']]
fin11['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin11['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin11['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin11['Particulars']]

fin11['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin11['Particulars']]

In [196]:
fin11.to_excel('Exported_Corporation Bank - Chandpura Circle- Consolidated Bank statement14-15.xlsx', index = False)

In [ ]:
fin11.tail(12)

In [ ]:
fin11_g = fin11.groupby(['Date', 'Particulars']).agg({'Debit': ['sum'], 'Credits': 'sum'}).reset_index()
fin11_g.head(8)

In [155]:
# cb_cc_15_16 = pd.read_excel('Corporation Bank - Chandpura Circle- Consolidated Bank statement.xlsx', sheet_name = '01-04-2015 to 31-03-2016')

if __name__ == "__main__":
	  
    df =  cb_cc_15_16.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin12=(groups.apply(groupFunct))

In [197]:
# Applying regular expression to extract the desired data
fin12['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin12['Particulars']]
fin12['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin12['Particulars']]
fin12['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin12['Particulars']]
fin12['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin12['Particulars']]
fin12['RETD :'] = ["".join(re.findall(r'[Rr][eE][Tt][Dd]', i)) for i in fin12['Particulars']]
fin12['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin12['Particulars']]
fin12['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin12['Particulars']]
fin12['Cancelled?'] = fin12.Particulars.str.contains('RETD', flags=re.IGNORECASE, regex=True)
# [\n\r][ \t]*Object Name:[ \t]*([^\n\r]*)
fin12['Reference No:'] = ["".join(re.findall(r'(?<=Reference No:).*', i)) for i in fin12['Particulars']]

In [198]:
fin12['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin12['Particulars']]
fin12['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin12['Particulars']]
fin12['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin12['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin12['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin12['Particulars']]
fin12['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin12['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin12['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin12['Particulars']]

fin12['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin12['Particulars']]

In [199]:
fin12.to_excel('Exported_Corporation Bank - Chandpura Circle- Consolidated Bank statement_15_16.xlsx', index = False)

In [ ]:
fin12.head()

In [ ]:
fin12_g = fin12.groupby(['Date', 'Particulars']).agg({'Debit': ['sum'], 'Credits': 'sum'}).reset_index()
fin12_g.head(8)

In [200]:
# cb_cc_16_17 = pd.read_excel('Corporation Bank - Chandpura Circle- Consolidated Bank statement.xlsx', sheet_name = '01-04-2016 to 31-03-2017')

if __name__ == "__main__":
	  
    df =  cb_cc_16_17.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin13=(groups.apply(groupFunct))

In [201]:
# Applying regular expression to extract the desired data
fin13['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin13['Particulars']]
fin13['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin13['Particulars']]
fin13['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin13['Particulars']]
fin13['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin13['Particulars']]
fin13['RETD :'] = ["".join(re.findall(r'[Rr][eE][Tt][Dd]', i)) for i in fin13['Particulars']]
fin13['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin13['Particulars']]
fin13['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin13['Particulars']]
fin13['Cancelled?'] = fin13.Particulars.str.contains('RETD', flags=re.IGNORECASE, regex=True)
# [\n\r][ \t]*Object Name:[ \t]*([^\n\r]*)
fin13['Reference No:'] = ["".join(re.findall(r'(?<=Reference No:).*', i)) for i in fin13['Particulars']]

In [202]:
fin13['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin13['Particulars']]
fin13['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin13['Particulars']]
fin13['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin13['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin13['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin13['Particulars']]
fin13['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin13['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin13['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin13['Particulars']]

fin13['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin13['Particulars']]

In [203]:
fin13.to_excel('Exported_Corporation Bank - Chandpura Circle- Consolidated Bank statement16_17.xlsx', index = False)

In [ ]:
fin13.head(60)

In [ ]:
fin13_g = fin13.groupby(['Date', 'Particulars']).agg({'Debit': ['sum'], 'Credits': 'sum'}).reset_index()
fin13_g.head(8)

In [204]:
# cb_cc_17_18 = pd.read_excel('Corporation Bank - Chandpura Circle- Consolidated Bank statement.xlsx', sheet_name = '01-04-2017 to 31-03-2018')

if __name__ == "__main__":
	  
    df =  cb_cc_17_18.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin14=(groups.apply(groupFunct))

In [205]:
# Applying regular expression to extract the desired data
fin14['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin14['Particulars']]
fin14['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin14['Particulars']]
fin14['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin14['Particulars']]
fin14['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin14['Particulars']]
fin14['RETD :'] = ["".join(re.findall(r'[Rr][eE][Tt][Dd]', i)) for i in fin14['Particulars']]
fin14['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin14['Particulars']]
fin14['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin14['Particulars']]
fin14['Cancelled?'] = fin14.Particulars.str.contains('RETD', flags=re.IGNORECASE, regex=True)
# [\n\r][ \t]*Object Name:[ \t]*([^\n\r]*)
fin14['Reference No:'] = ["".join(re.findall(r'(?<=Reference No:).*', i)) for i in fin14['Particulars']]

In [206]:
fin14['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin14['Particulars']]
fin14['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin14['Particulars']]
fin14['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin14['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin14['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin14['Particulars']]
fin14['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin14['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin14['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin14['Particulars']]

fin14['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin14['Particulars']]

In [207]:
fin14.to_excel('Exported_Corporation Bank - Chandpura Circle- Consolidated Bank statement17_18.xlsx', index = False)

In [ ]:
fin14.head(12)

In [ ]:
fin14_g = fin14.groupby(['Date', 'Particulars']).agg({'Debit': ['sum'], 'Credits': 'sum'}).reset_index()
fin14_g.head(8)

In [224]:
# cb_cc_18_18 = pd.read_excel('Corporation Bank - Chandpura Circle- Consolidated Bank statement.xlsx', sheet_name = '01-04-2018 to 06-06-2018')

if __name__ == "__main__":
	  
    df =  cb_cc_18_18.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin15=(groups.apply(groupFunct))

In [209]:
# Applying regular expression to extract the desired data
fin15['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin15['Particulars']]
fin15['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin15['Particulars']]
fin15['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin15['Particulars']]
fin15['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin15['Particulars']]
fin15['RETD :'] = ["".join(re.findall(r'[Rr][eE][Tt][Dd]', i)) for i in fin15['Particulars']]
fin15['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin15['Particulars']]
fin15['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin15['Particulars']]
fin15['Cancelled?'] = fin15.Particulars.str.contains('RETD', flags=re.IGNORECASE, regex=True)
# [\n\r][ \t]*Object Name:[ \t]*([^\n\r]*)
fin15['Reference No:'] = ["".join(re.findall(r'(?<=Reference No:).*', i)) for i in fin15['Particulars']]

In [210]:
fin15['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin15['Particulars']]
fin15['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin15['Particulars']]
fin15['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin15['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin15['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin15['Particulars']]
fin15['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin15['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin15['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin15['Particulars']]

fin15['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin15['Particulars']]

In [211]:
fin15.to_excel('Exported_Corporation Bank - Chandpura Circle- Consolidated Bank statement_18_18.xlsx', index = False)

In [ ]:
fin15.head(12)

### Loading `Corporation Bank - Akshay Nagar - Shashank _Pg 01 -20 Final`

In [219]:
cb_an_Pg_01_20 = pd.read_excel('Corporation Bank - Akshay Nagar - Shashank _Pg 01 -20 Final.xlsx')
cb_an_Pg_01_20.head(9)

                  Date     Tran       Ref Num                Particulars    Debit   Credits   Balance
0  2017-04-21 00:00:00  S327497 NaN            Balance transfer          NaN       5760.45   5760.45
1  2017-04-27 00:00:00  S311902 NaN            CA chq issue charge        400.0   NaN        5360.45
2  2017-04-27 00:00:00  S311902 NaN            Service tax                60.0    NaN        5300.45
3  2017-04-27 00:00:00  S318246 NaN            CA chq issue charge        400.0   NaN        4900.45
4  2017-04-27 00:00:00  S318246 NaN            Service tax                60.0    NaN        4840.45
5  2017-05-03 00:00:00  M67946   1.678016e+09  Shwetha and Gita construc NaN       50000.00  54840.45
6  2017-05-03 00:00:00  M74441  NaN            VIJAY UPADHYAY             50000.0 NaN        4840.45
7  2017-05-09 00:00:00  M11221  NaN            Self                       10000.0 NaN       -5159.55
8  2017-05-09 00:00:00  M23010  NaN            Vijay                      35500.0 NaN       -40659.55

In [220]:
cb_an_Pg_01_20.dtypes

Date           object
Tran           object
Ref Num        float64
Particulars    object
Debit          float64
Credits        float64
Balance        float64
dtype: object

In [223]:

if __name__ == "__main__":
	  
    df =  cb_an_Pg_01_20.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin99=(groups.apply(groupFunct))

In [275]:
# Applying regular expression to extract the desired data
fin99['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin99['Particulars']]
fin99['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin99['Particulars']]
fin99['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin99['Particulars']]
fin99['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin99['Particulars']]
fin99['RETD :'] = ["".join(re.findall(r'[Rr][eE][TtjJ][UuEe][RrCc][NntT][A-Za-z]*', i)) for i in fin99['Particulars']]
fin99['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin99['Particulars']]
fin99['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin99['Particulars']]
fin99['Cancelled?'] = fin99.Particulars.str.contains('REJect', flags=re.IGNORECASE, regex=True) | fin99.Particulars.str.contains('RETurn', flags=re.IGNORECASE, regex=True)
# [\n\r][ \t]*Object Name:[ \t]*([^\n\r]*)
fin99['Reference No:'] = ["".join(re.findall(r'(?<=Reference No:).*', i)) for i in fin99['Particulars']]

In [276]:
fin99['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin99['Particulars']]
fin99['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin99['Particulars']]
fin99['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin99['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin99['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin99['Particulars']]
fin99['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin99['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin99['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin99['Particulars']]

fin99['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin99['Particulars']]

In [277]:
fin99.to_excel('Exported_Corporation Bank - Akshay Nagar - Shashank _Pg 01 -20 Final.xlsx', index = False)

### Loading `Corporation Bank - Akshay Nagar - Shashank _Pg 21 - 31 Final`

In [230]:
cb_an_Pg_21_31 = pd.read_excel('Corporation Bank - Akshay Nagar - Shashank _Pg 21 - 31 Final.xlsx')
cb_an_Pg_21_31.head()

        Date  Unnamed: 1  Unnamed: 2                              Particulars  Cheque No     Debit  Credits    Balance
0 2017-12-11  222592.0    207169.0    To S&G CONSTRUCTIONS                     377585.0   200000.0 NaN       100720.45
1 2017-12-11  222592.0    207169.0    Self                                     377586.0   99000.0  NaN       1720.45
2 2017-12-11  211500.0    211500.0    ECS RETURN Charges-IILECS - BMW         NaN         500.0    NaN       1220.45
3 2017-12-11 NaN          211500.0    ECS RETURN GST Charges Collected        NaN         90.0     NaN       1130.45
4 2017-12-13  216508.0    216508.0    ECS RETURN Charges-TP HSBC TOYOTA FINAN NaN         500.0    NaN       630.45

In [231]:
cb_an_Pg_21_31.dtypes

Date           datetime64[ns]
Unnamed: 1     float64
Unnamed: 2     float64
Particulars    object
Cheque No      float64
Debit          float64
Credits        float64
Balance        float64
dtype: object

In [232]:
cb_an_Pg_21_31.Date.dt.month_name().value_counts()

February    67
December    35
January     15
March       8
Name: Date, dtype: int64

In [257]:
# cb_an_Pg_21_31 = pd.read_excel('Corporation Bank - Akshay Nagar - Shashank _Pg 21 - 31 Final.xlsx')

if __name__ == "__main__":
	  
    df =  cb_an_Pg_21_31.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin98=(groups.apply(groupFunct))

In [278]:
# Applying regular expression to extract the desired data
fin98['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin98['Particulars']]
fin98['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin98['Particulars']]
fin98['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin98['Particulars']]
fin98['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin98['Particulars']]
fin89['RETD :'] = ["".join(re.findall(r'[Rr][eE][TtjJ][UuEe][RrCc][NntT][A-Za-z]*', i)) for i in fin89['Particulars']]
fin98['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin98['Particulars']]
fin98['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin98['Particulars']]

fin98['Cancelled?'] = fin98.Particulars.str.contains('REJect', flags=re.IGNORECASE, regex=True) | fin98.Particulars.str.contains('RETurn', flags=re.IGNORECASE, regex=True)

In [279]:
fin98['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin98['Particulars']]
fin98['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin98['Particulars']]
fin98['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin98['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin98['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin98['Particulars']]
fin98['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin98['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin98['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin98['Particulars']]

fin98['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin98['Particulars']]

In [280]:
fin98.to_excel('Exported_Corporation Bank - Akshay Nagar - Shashank _Pg 21 - 31.xlsx', index = False)

### Loading `Karnataka Bank - Chickpet`

In [215]:
kb = pd.read_excel('Karnataka Bank - Chickpet.xlsx')
kb.head()

        Date                        Particulars  Cheque No     Debit   Credits   Balance
0 2018-03-02  By Cash BY CASH                   NaN        NaN        5500.0   NaN
1 2018-03-15  MICR CHQ ISSUE CHARGES            NaN         236.0    NaN        5264.0
2 2018-03-16  RTGS-A VENUGOPAL/ANDBH18075577193 NaN        NaN        400000.0  405264.0
3 2018-03-16  103201 VIJAY                      NaN         400000.0 NaN        5264.0
4 2018-03-19  RTGS-A VENUGOPAL/ANDBH18078587478 NaN         450000.0 NaN        455264.0

In [261]:
if __name__ == "__main__":
	  
    df =  kb.copy()

    groups = df.groupby(df['Date'].apply(rolling_group),as_index=False)
    groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
    fin89=(groups.apply(groupFunct))

In [262]:
fin89

                   Date                                            Particulars Cheque No      Debit    Credits    Balance
0   2018-03-02 00:00:00  By Cash BY CASH                                                             5500.0
1   2018-03-15 00:00:00  MICR CHQ ISSUE CHARGES                                           236.0                 5264.0
2   2018-03-16 00:00:00  RTGS-A VENUGOPAL/ANDBH18075577193                                           400000.0   405264.0
3   2018-03-16 00:00:00  103201 VIJAY                                                     400000.0              5264.0
4   2018-03-19 00:00:00  RTGS-A VENUGOPAL/ANDBH18078587478                                450000.0              455264.0
5   2018-03-19 00:00:00  103202 RTGS-SANZER SOLUTIONS PVT LTD/KARBH18078691011                       450000.0   5264.0
6   2018-03-19 00:00:00  Chrgs for RIGS UTR No.:KARBH18078691011                          29.5                  5234.5
7   2018-03-26 00:00:00  INWARD REJECT CHARGES                                            177.0                 5057.5
8   2018-03-28 00:00:00  INWARD REJECT CHARGES                                            177.0                 4880.5
9   2018-03-31 00:00:00  LEDGER FOLIO CHARGES                                             118.0                 4762.5
10  2018-04-03 00:00:00  INWARD REJECT CHARGES                                            1180.0                3582.5
11  2018-04-17 00:00:00  INWARD REJECT CHARGES                                            590.0                 2992.5
12  2018-04-20 00:00:00  INWARD REJECT CHARGES                                            590.0                 2402.5
13  2018-05-06 00:00:00  Avg Bal chrg From 01-04-2018 To 30-04-2018                       236.0                 2166.5
14  2018-05-10 00:00:00  MAHATHRU TECHNOLOGIES                                                       1000000.0  1002166.5
15  2018-05-10 00:00:00  103237 TO SELF                                                   1000000.0             2166.5
16  2018-05-11 00:00:00  MAHATHRU TECHNOLOGIES                                                       500000.0   502166.5
17  2018-05-11 00:00:00  103238 TO SELF                                                   500000.0              2166.5
18  2018-05-11 00:00:00  INWARD REJECT CHARGES                                            1180.0                986.5
19  2018-05-28 00:00:00  IMPS/P2A-814816452428-VIJAY UPADHYAY-9017000702-C                           10000.0    10986.5
20  2018-05-28 00:00:00  STOP PAYMENT CHARGES                                             1652.0                9334.5
21  2018-05-29 00:00:00  Chrgs/23-05-2018/I/W RETURN CHARGES DTD 23-05-2                  1180.0                8154.5
22  2018-05-29 00:00:00  Chrgs/22-05-2018/I/W RETURN CHARGES DTD 22-05-2                  7080.0                1074.5

In [283]:
# Applying regular expression to extract the desired data
fin89['Ref:'] = ["".join(re.findall(r'Ref:\s*(.*?) ', i)) for i in fin89['Particulars']]
fin89['Inst. no.:'] = ["".join(re.findall(r'[Ii][Nn][Ss][Tt][.]?\s*[Nn][Oo][.]?[:]?[\s]?\d{4,8}', i)) for i in fin89['Particulars']]
fin89['Chq:'] = ["".join(re.findall(r'Chq:\s*(.*?)[A-Za-z]', i)) for i in fin89['Particulars']]
fin89['RTGS_UTR No:'] = ["".join(re.findall(r'RTGS_UTR No:\s*(.*?) ', i)) for i in fin89['Particulars']]
fin89['RETD :'] = ["".join(re.findall(r'[Rr][eE][TtjJ][UuEe][RrCc][NntT][A-Za-z]*', i)) for i in fin89['Particulars']]
fin89['UTR :'] = ["".join(re.findall(r'UTR(?:^|[: ])\s*(.*?) ', i)) for i in fin89['Particulars']]
fin89['UTR_extn :'] = ["".join(re.findall(r'UTR :\s*(.*?) ', i)) for i in fin89['Particulars']]
# [\n\r][ \t]*Object Name:[ \t]*([^\n\r]*)
fin89['Cancelled?'] = fin89.Particulars.str.contains('REJect', flags=re.IGNORECASE, regex=True) | fin89.Particulars.str.contains('RETurn', flags=re.IGNORECASE, regex=True)

In [284]:
fin89['Names_TO:'] = ["".join(re.findall(r"(/*\s*[A-Z]{1,20}\s+[A-Z]*\s*[A-Z]*\s*[A-Z]*/*\s*)", i)) for i in fin89['Particulars']]
fin89['Names_st.'] = ["".join(re.findall(r"(\s*[A-Z]{1,20}\s*/?\s*[A-Z]*\s*[A-Z]* )", i)) for i in fin89['Particulars']]
fin89['Names/*_/:'] = ["".join(re.findall(r"(/*\s*[A-Z]{3,20}\s*/?[A-Z]*\s*[A-Z]*\s*[A-Z]*\s?/*)", i)) for i in fin89['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20})
fin89['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin89['Particulars']]
fin89['Names/$_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s+[A-Z]{2,20})", i)) for i in fin89['Particulars']]
#(/*[A-Z]{3,20}\s+[A-Z]{2,20}[ ][A-Z]*)
fin89['Names/$#_/:'] = ["".join(re.findall(r"(/*[A-Z]{3,20}\s*[!@#$%^&*()_-]*\s*[A-Z]{2,20}[ ][A-Z]*)", i)) for i in fin89['Particulars']]

fin89['Final_touch'] = ["".join(re.findall(r"(/*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s*[A-Z]?[a-z]+\s*[A-Z]?[a-z]*\s?/*)", i)) for i in fin89['Particulars']]

In [285]:
fin89.to_excel('Export_Karnataka_Bank.xlsx', index = False)

In [1]:
# PART-2

In [ ]:
# df = pd.DataFrame()
# for file_ in all_files:
#     file_df = pd.read_csv(file_,sep=';', parse_dates=[0], infer_datetime_format=True,header=None )
#     file_df['file_name'] = file_
#     df = df.append(file_df)

In [1]:
cd C:\Users\pushkar\Downloads\Bank Statements - 11.06.2020(1)\Bank Statements - 11.06.2020

C:\Users\pushkar\Downloads\Bank Statements - 11.06.2020(1)\Bank Statements - 11.06.2020

In [8]:
import glob
import pandas as pd

In [31]:
files = glob.glob("*.xlsx")
files

['Exported_Corporation Bank - Akshay Nagar - Shashank _Pg 01 -20 Final_V1.xlsx',
 'Exported_Corporation Bank - Akshay Nagar - Shashank _Pg 21 - 31_V1.xlsx',
 'Exported_Corporation Bank - Akshay Nagar 1_13_14_V1.xlsx',
 'Exported_Corporation Bank - Akshay Nagar 1_14_15.xlsx',
 'Exported_Corporation Bank - Akshay Nagar 1_15_16_V1.xlsx',
 'Exported_Corporation Bank - Akshay Nagar 1_16_17_V1.xlsx',
 'Exported_Corporation Bank - Akshay Nagar 1_18_18_V1.xlsx',
 'Exported_Corporation Bank - Chandpura Circle- Bank statement14-15_V1.xlsx',
 'Exported_Corporation Bank - Chandpura Circle- Bank statement16_17_V1.xlsx',
 'Exported_Corporation Bank - Chandpura Circle- Bank statement17_18_V1.xlsx',
 'Exported_Corporation Bank - Chandpura Circle- Bank statement_15_16_V1.xlsx',
 'Exported_Corporation Bank - Chandpura Circle- Bank statement_18_18_V1.xlsx',
 'Export_Karnataka_Bank_V1.xlsx']

In [32]:
df = pd.concat([pd.read_excel(fp).assign(New=os.path.basename(fp).split('.')[0]) for fp in files])
df

,Date,Particulars,Cheque No,Debit,Credits,Balance,Names,RETD :,Cancelled?,Chq_No,New
0,2017-04-21 00:00:00,Balance transfer,S327497/,NaN,5760.45,5760.45,Unknown,NaN,0.0,NaN,Exported_Corporation Bank - Akshay Nagar - Sha...
1,2017-04-27 00:00:00,CA chq issue charge,S311902/,400,NaN,5360.45,Charges,NaN,0.0,NaN,Exported_Corporation Bank - Akshay Nagar - Sha...
2,2017-04-27 00:00:00,Service tax,S311902/,60,NaN,5300.45,Charges,NaN,0.0,NaN,Exported_Corporation Bank - Akshay Nagar - Sha...
3,2017-04-27 00:00:00,CA chq issue charge,S318246/,400,NaN,4900.45,Charges,NaN,0.0,NaN,Exported_Corporation Bank - Akshay Nagar - Sha...
4,2017-04-27 00:00:00,Service tax,S318246/,60,NaN,4840.45,Charges,NaN,0.0,NaN,Exported_Corporation Bank - Akshay Nagar - Sha...
...,...,...,...,...,...,...,...,...,...,...,...
18,2018-05-11 00:00:00,INWARD REJECT CHARGES,NaN,1180,NaN,986.5,Charges,REJECT,1.0,",,,,,",Export_Karnataka_Bank_V1
19,2018-05-28 00:00:00,IMPS/P2A-814816452428-VIJAY UPADHYAY-9017000702-C,NaN,NaN,10000,10986.5,Vijay Upadhyay,NaN,0.0,",,,,,",Export_Karnataka_Bank_V1
20,2018-05-28 00:00:00,STOP PAYMENT CHARGES,NaN,1652,NaN,9334.5,Charges,NaN,0.0,",,,,,",Export_Karnataka_Bank_V1
21,2018-05-29 00:00:00,Chrgs/23-05-2018/I/W RETURN CHARGES DTD 23-05-2,NaN,1180,NaN,8154.5,Charges,RETURN,1.0,",,,,,",Export_Karnataka_Bank_V1
22,2018-05-29 00:00:00,Chrgs/22-05-2018/I/W RETURN CHARGES DTD 22-05-2,NaN,7080,NaN,1074.5,Charges,RETURN,1.0,",,,,,",Export_Karnataka_Bank_V1

In [33]:
df.to_excel('Final_consolidated_sheet.xlsx', index = False)

In [3]:
x=10
print(f'{x} is my name'.format(x))

10 is my name

In [4]:
pp = []
for i in range(8):
	 pp.append(i)
	 print(pp)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]

In [8]:
a = [9,8,7,86,9]
b=[9,1]

for i in b:
	 for j in a:
		  if i == j:
			   a.remove(i)
print(a)

[8, 7, 86]