In [1]:
#Setting working directory
import os
# path = 'E:\\PYTHON\\jupyternotebook'
path = 'E:\\PYTHON\\Logistics_interval'
os.chdir(path)
print(os.getcwd())

E:\PYTHON\Logistics_interval

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
Diabetes = pd.read_csv('Diabetes.csv')
Diabetes.head()

,1. Number of times pregnant,2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test,3. Diastolic blood pressure (mm Hg),4. Triceps skin fold thickness (mm),5. 2-Hour serum insulin (mu U/ml),6. Body mass index (weight in kg/(height in m)^2),7. Diabetes pedigree function,8. Age (years),9. Class variable (0 or 1)
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
col_names = ['pregnent', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'padigree','age','label']
Diabetes = pd.read_csv('Diabetes.csv', header=0,names = col_names)
Diabetes.head()

   pregnent  glucose  bp  skin  insulin   bmi  padigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [6]:
table1 = np.mean(Diabetes,axis=0)
table2 = np.std(Diabetes,axis=0)

In [7]:
table1

pregnent      3.845052
glucose     120.894531
bp           69.105469
skin         20.536458
insulin      79.799479
bmi          31.992578
padigree      0.471876
age          33.240885
label         0.348958
dtype: float64

In [8]:
table2

pregnent      3.367384
glucose      31.951796
bp           19.343202
skin         15.941829
insulin     115.168949
bmi           7.879026
padigree      0.331113
age          11.752573
label         0.476641
dtype: float64

In [9]:
Diabetes['label'].value_counts()

0    500
1    268
Name: label, dtype: int64

In [10]:
x = Diabetes.iloc[:,:8]
y = Diabetes.iloc[:,8]

In [11]:
x.head()

   pregnent  glucose  bp  skin  insulin   bmi  padigree  age
0         6      148  72    35        0  33.6     0.627   50
1         1       85  66    29        0  26.6     0.351   31
2         8      183  64     0        0  23.3     0.672   32
3         1       89  66    23       94  28.1     0.167   21
4         0      137  40    35      168  43.1     2.288   33

In [12]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: label, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x,y, random_state = 0)

In [15]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(solver = 'liblinear')
logreg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [16]:
y_pred_class = logreg.predict(x_test)

In [17]:
logreg.score(x_test, y_test)

0.8072916666666666

In [18]:
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred_class))

0.8072916666666666

In [19]:
y_test.value_counts()

0    130
1     62
Name: label, dtype: int64

In [25]:
max(y_test.mean(), 1 - y_test.mean())

0.6770833333333333

In [29]:
# ?????
y_test.value_counts().head(1) / len(y_test)

0    0.677083
Name: label, dtype: float64

In [22]:
print('Actual : ', y_test.values[0:25])
print('Predicted :', y_pred_class[0:25])

Actual :  [1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 0 0]
Predicted : [1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 1 0 0 0 0]

In [23]:
print(metrics.confusion_matrix(y_test, y_pred_class))

[[119  11]
 [ 26  36]]

In [24]:
y_test.value_counts()

0    130
1     62
Name: label, dtype: int64

In [30]:
# save confusion matrix and slice into four pieces
confusion = metrics.confusion_matrix(y_test, y_pred_class)
print(confusion)
#[row, column]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]
TP = confusion[1, 1]

[[119  11]
 [ 26  36]]

In [31]:
# Classification Error (Misclassification Rate) or (Error rate):
# Overall, how often is the classifier incorrect?
classification_error = (FP + FN) / float(TP + TN + FP + FN)
print(classification_error)
# Alternatively, 1 - accuracy also gives the error rate
print(1 - metrics.accuracy_score(y_test, y_pred_class))

0.19270833333333334
0.19270833333333337