# Pandas Tricks

In [ ]:
# Reading a JSON from web

In [1]:
import pandas as pd

In [2]:
df = pd.read_json('https://api.github.com/users/justmarkham/repos?per_page=100')

In [3]:
df = df[df.fork == False]
df.shape

(22, 73)

In [5]:
cols = ['name', 'stargazers_count', 'forks_count']
df[cols].sort_values('stargazers_count', ascending= False).head(10)

                   name  stargazers_count  forks_count
32  scikit-learn-videos              2552         1781
10                 DAT8              1377          776
22        pandas-videos               821          780
7                  DAT4               697          596
6                  DAT3               551          345
30     python-reference               442          313
24  pycon-2016-tutorial               343          344
9                  DAT7               214          187
25  pycon-2018-tutorial               211          158
26  pycon-2019-tutorial               175           84

# Dealing with bad data(or empty rows)at top of the csv file

In [8]:
# header = row number of header(start count at 0)
#skiprows = list of rows numbers to skip
pd.read_csv(data.csv, header=2, skiprows=[3,4] )

#  Two Easy Way to reduce Dataframe memory usage

In [ ]:

        # 1. Only read in column you need
        # 2. Use category datatype with categorical data

In [ ]:
# e.g, 
df= pd.read_csv('file.csv', usecols=['A','C','D'], dtype={'D':'category'})

# Dataset rows spread across multiple files and need a single dataframe

In [ ]:
# 1. Use glob() to list your files
# 2. Use a generator expression to read files and concat() to combine them

In [10]:
# e.g,
import pandas as pd
from glob import glob

In [ ]:
# use python glob() function to list all files that match a pattern
 stock_files = sorted(glob('data/stocks*.csv'))
 stock_files

In [ ]:
# Use a generator expression to read the files and use concat() function to combine them
pd.concat((pd.read_csv(file) for file in stock_files), ignore_index=True)