### Placeholders

In [3]:
name = 'Rajesh'
name + ' is an Indian citizen'

'Rajesh is an Indian citizen'

In [6]:
sent = "%s is 69 years old"
sent%('Kuthropoli')

'Kuthropoli is 69 years old'

In [7]:
pm = "%s %s is the worst PM of India"
pm%('Narendra', 'Modi')

'Narendra Modi is the worst PM of India'

In [8]:
details = "%s is %d years old"
details%("Ramnath Kovind", 99)

'Ramnath Kovind is 99 years old'

### Lists

In [9]:
skills = ['Python Lib', 'Machine Learning', 'JavaScript','Regression']
skills

['Python Lib', 'Machine Learning', 'JavaScript', 'Regression']

In [12]:
skills[0]
skills[0:2]
skills[0:1]

['Python Lib']

In [15]:
skills.append('Hadoop')
skills

['Python Lib', 'Machine Learning', 'JavaScript', 'Regression', 'Hadoop']

In [18]:
skills[1] = "Scala"
skills

['Python Lib', 'Scala', 'JavaScript', 'Regression', 'Hadoop']

In [20]:
del skills[2]
skills

['Python Lib', 'Scala', 'Regression', 'Hadoop']

In [21]:
len(skills)

4

In [24]:
skills2 = ['HTML', 'CSS', 'Javascript','Ruby on Rails']
skills + skills2
skills *2

['Python Lib',
 'Scala',
 'Regression',
 'Hadoop',
 'Python Lib',
 'Scala',
 'Regression',
 'Hadoop']

In [27]:
num = [5,66,87,88]
max(num)
min(num)

5

### Dictionary

In [28]:
topics = {"Numpy": 21, "Seaborn": 28, "Pandas" : 69}
topics

{'Numpy': 21, 'Seaborn': 28, 'Pandas': 69}

In [31]:
topics['Numpy']
topics['Pandas']= 77
topics

{'Numpy': 21, 'Seaborn': 28, 'Pandas': 77}

In [32]:
len(topics)

3

In [37]:
del topics['Seaborn']
topics

{'Numpy': 21, 'Pandas': 77}

In [42]:
error_d = {1 : 'Roye', 1: 'Ronny', 1: 'Rosy'}
error_d

{1: 'Rosy'}

### Tuples

In [51]:
lan = ("PHP", "GO", "Haskel", "Scala")
lan
lan[1:3]

('GO', 'Haskel')

In [47]:
lan2 = ('Ruby', 'Pig', 'Hive')
lang3 = lan+ lan2
lang3

('PHP', 'GO', 'Haskel', 'Scala', 'Ruby', 'Pig', 'Hive')

In [52]:
del lan2

In [53]:
lan2

NameError: name 'lan2' is not defined

In [54]:
lan*3

('PHP',
 'GO',
 'Haskel',
 'Scala',
 'PHP',
 'GO',
 'Haskel',
 'Scala',
 'PHP',
 'GO',
 'Haskel',
 'Scala')

### Conditional If ... Else

In [64]:
nam = 22
if(nam == 21):
    print('You are not Welcome')
elif(nam == 211):
    print('Sorry, Your name is not here as well')
else:
    print('Please come Sir!!')

Please come Sir!!