In [1]:
cd C:\Guru Jana Folder\StoreKING_DATA\ERP Extracts\4. Returns Master

C:\Guru Jana Folder\StoreKING_DATA\ERP Extracts\4. Returns Master

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is E463-CE57

 Directory of C:\Guru Jana Folder\StoreKING_DATA\ERP Extracts\4. Returns Master

10-06-2020  00:39    <DIR>          .
10-06-2020  00:39    <DIR>          ..
05-06-2020  12:16            47,559 returns_1591339585910.csv
09-06-2020  15:59           131,080 returns_1591698257833.csv
               2 File(s)        178,639 bytes
               2 Dir(s)  45,074,550,784 bytes free

In [7]:
import pandas as pd

In [11]:
rtn = pd.read_csv('returns_1591698257833.csv', parse_dates=[2])
rtn.head()

,_id,_ReturnId,_ReturnedDate,_InvoiceNo,_InvoiceDate,_WhId,_SoldByState,_ReasonForReturn,_OrderId,_FranchiseId,...,_ReturnQty,_ReturnValue,_TaxableValue,_IGSTRate,_IGSTValue,_CGSTRate,_CGSTValue,_SGSTRate,_SGSTValue,_intoWhDate
0,RT2020010217,RT2020010217,2020-01-02,IN17100099192,2019-11-23,WMF0,Karnataka,Dead On Arrival,OR20191122651972,F180848,...,1,930.750000,831.00,12,99.72,0.0,0.000,0.0,0.000,2020-01-02 10:52:39
1,RT2020010218,RT2020010218,2020-01-02,IN181256196,2019-12-31,WMF1,Karnataka,Return To Origin,OR20191231705049,F100029,...,24,218.160000,7.70,0,0.00,9.0,0.695,9.0,0.695,2020-01-02 13:20:37
2,RT2020010319,RT2020010319,2020-01-03,IN181252301,2019-12-14,WMF1,Karnataka,Product Mismatch,OR20191212679869,F207960,...,40,68.000000,57.00,0,0.00,9.0,5.185,9.0,5.185,2020-01-03 12:51:02
3,RT2020010320,RT2020010320,2020-01-03,IN341007057,2019-12-13,WMF20,NaN,Product Mismatch,OR20191212680706,F142141,...,30,6550.790667,5551.00,0,0.00,9.0,499.635,9.0,499.635,2020-01-03 13:18:54
4,RT2020010321,RT2020010321,2020-01-03,IN181255711,2019-12-30,WMF1,Karnataka,Return To Origin,OR20191229701324,F202813,...,240,12458.400000,43.99,0,0.00,9.0,3.960,9.0,3.960,2020-01-04 11:26:49

In [21]:
rtn.dtypes

_id                         object
_ReturnId                   object
_ReturnedDate       datetime64[ns]
_InvoiceNo                  object
_InvoiceDate                object
_WhId                       object
_SoldByState                object
_ReasonForReturn            object
_OrderId                    object
_FranchiseId                object
_ProductId                  object
_ProductName                object
_ProductMRP                float64
_ProductPrice              float64
_ReturnQty                   int64
_ReturnValue               float64
_TaxableValue              float64
_IGSTRate                    int64
_IGSTValue                 float64
_CGSTRate                  float64
_CGSTValue                 float64
_SGSTRate                  float64
_SGSTValue                 float64
_intoWhDate                 object
dtype: object

In [43]:
sel_rng = rtn[ (rtn._ReturnedDate > '2020-01-02') & (rtn._ReturnedDate < '2020-04-30')]

In [44]:
sel_rng.tail(6)

,_id,_ReturnId,_ReturnedDate,_InvoiceNo,_InvoiceDate,_WhId,_SoldByState,_ReasonForReturn,_OrderId,_FranchiseId,...,_ReturnQty,_ReturnValue,_TaxableValue,_IGSTRate,_IGSTValue,_CGSTRate,_CGSTValue,_SGSTRate,_SGSTValue,_intoWhDate
244,RT2020042925,RT2020042925,2020-04-29,IN351015841,2020-03-21,WMF21,NaN,Service,OR20200317791581,F145014,...,36,29.88,25.00,18,4.56,0.0,0.000,0.0,0.000,2020-04-30 12:23:52
245,RT2020042926,RT2020042926,2020-04-29,IN351016416,2020-04-03,WMF21,NaN,Service,OR20200319793474,F185331,...,120,1111.20,941.00,0,0.00,9.0,84.755,9.0,84.755,2020-05-04 16:39:34
246,RT2020042927,RT2020042927,2020-04-29,IN351017426,2020-04-14,WMF21,NaN,Service,OR20200329800428,F143855,...,120,1111.20,941.00,18,169.51,0.0,0.000,0.0,0.000,2020-04-30 12:32:48
247,RT2020042928,RT2020042928,2020-04-29,IN351017428,2020-04-14,WMF21,NaN,Service,OR20200330800750,F143855,...,120,1111.20,941.00,18,169.51,0.0,0.000,0.0,0.000,2020-04-30 12:35:01
248,RT2020042929,RT2020042929,2020-04-29,IN351017763,2020-04-15,WMF21,NaN,Service,OR20200330800751,F143855,...,75,2607.20,2209.00,18,397.71,0.0,0.000,0.0,0.000,2020-04-30 12:36:19
249,RT2020042930,RT2020042930,2020-04-29,IN181267578,2020-03-10,WMF1,Karnataka,Return To Origin,OR20200309783848,F197851,...,3,1476.00,416.95,0,0.00,9.0,37.525,9.0,37.525,2020-05-02 17:34:16

In [46]:
sel_rng._ReturnedDate.dt.month_name()

2      January
3      January
4      January
5      January
6      January
        ...
245      April
246      April
247      April
248      April
249      April
Name: _ReturnedDate, Length: 248, dtype: object

In [51]:
sel_rng.groupby('_FranchiseId').agg({'_ReturnQty': 'sum', '_ReturnValue':'sum'}).reset_index().sort_values('_ReturnValue',ascending=False)

   _FranchiseId  _ReturnQty  _ReturnValue
90      F214644         420    1918038.80
63      F206464        8076     198381.84
98      F215727        2248     104969.28
66      F207613        1692     101970.36
65      F207083        4428     100255.92
..          ...         ...           ...
1       F100569         522        185.20
31      F196336          24        184.10
71      F208633          24         21.84
50      F205056           1          1.00
75      F209269           1          1.00

[103 rows x 3 columns]

In [52]:
cd C:\Guru Jana Folder\StoreKING_DATA\ERP Extracts\1. FOS Reports

C:\Guru Jana Folder\StoreKING_DATA\ERP Extracts\1. FOS Reports

In [53]:
ls

 Volume in drive C has no label.
 Volume Serial Number is E463-CE57

 Directory of C:\Guru Jana Folder\StoreKING_DATA\ERP Extracts\1. FOS Reports

09-06-2020  16:01    <DIR>          .
09-06-2020  16:01    <DIR>          ..
29-05-2020  11:26        49,482,551 1. 1st Jan to  15th Jan.csv
29-05-2020  11:31        32,648,582 2. 15th Jan to 31st Jan.csv
29-05-2020  11:33        64,215,824 3. 1st Feb to 29th Feb.csv
29-05-2020  11:38        56,001,322 4. 1st Mar to 31st Mar.csv
09-06-2020  16:02       179,116,547 Consolidated FOS Report.csv
29-05-2020  12:04       107,254,742 Consolidated FOS Report.xlsx
               6 File(s)    488,719,568 bytes
               2 Dir(s)  45,048,221,696 bytes free

In [54]:
ovr = pd.read_csv('Consolidated FOS Report.csv', parse_dates=['OrderDate', 'InvoicedDate'])
ovr.head(25)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,38,39,57,58) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,orderCreateVia,dealOfDay,isCommissionApporved,finalDiscount,debitOnMrpChange,refundOnMrpChange,TransactionId,Paymentstatus,typeOfOrder,SubOrderId,...,invoiceStatus,InvoicedMRP,InvoicedOfferPrice,InvoicedDealQty,whId,ProductB2BPrice,ProductSellingPrice,paidByBalance,cartId,className
0,OTHERS,False,False,0.0,0.0,0.0,XOR20200101706030,Paid,SELLER,XOR20200101706030_1,...,Delivered,5.0,4.50,400.0,SEL119,4.500000,4.500000,1800.00,NaN,NaN
1,OTHERS,False,True,0.0,0.0,0.0,OR20200101706031,Paid,SK,OR20200101706031_1,...,Delivered,1206.0,1121.58,10.0,WMF21,9.299767,9.299767,11215.80,NaN,NaN
2,OTHERS,False,True,0.0,0.0,0.0,OR20200101706031,Paid,SK,OR20200101706031_1,...,Delivered,1206.0,1121.58,10.0,WMF21,5.608000,5.607900,11215.80,NaN,NaN
3,OTHERS,False,True,0.0,0.0,0.0,OR20200101706031,Paid,SK,OR20200101706031_2,...,Delivered,10.0,9.09,720.0,WMF21,9.090000,9.090000,6544.80,NaN,NaN
4,OTHERS,False,True,0.0,0.0,0.0,OR20200101706031,Paid,SK,OR20200101706031_3,...,Delivered,10.0,9.09,72.0,WMF21,9.090000,9.090000,654.48,NaN,NaN
5,OTHERS,False,True,0.0,0.0,0.0,OR20200101706031,Paid,SK,OR20200101706031_4,...,Delivered,7320.0,6588.00,1.0,WMF21,45.008819,45.008850,6588.00,NaN,NaN
6,OTHERS,False,True,0.0,0.0,0.0,OR20200101706031,Paid,SK,OR20200101706031_4,...,Delivered,7320.0,6588.00,1.0,WMF21,17.788333,17.787600,6588.00,NaN,NaN
7,OTHERS,False,True,0.0,0.0,0.0,OR20200101706031,Paid,SK,OR20200101706031_5,...,Delivered,38.0,33.82,33.0,WMF21,33.820000,33.820000,1116.06,NaN,NaN
8,OTHERS,False,True,0.0,0.0,0.0,OR20200101706031,Paid,SK,OR20200101706031_6,...,Delivered,56.0,51.91,40.0,WMF21,51.910000,51.910000,2076.40,NaN,NaN
9,OTHERS,False,True,0.0,0.0,0.0,OR20200101706031,Paid,SK,OR20200101706031_7,...,Delivered,75.0,67.50,24.0,WMF21,67.500000,67.500000,1620.00,NaN,NaN
10,OTHERS,False,True,0.0,0.0,0.0,OR20200101706031,Paid,SK,OR20200101706031_8,...,Delivered,10.0,9.26,288.0,WMF21,9.260000,9.260000,2666.88,NaN,NaN
11,OTHERS,False,True,0.0,0.0,0.0,OR20200101706032,Paid,SK,OR20200101706032_1,...,Delivered,95.0,86.36,36.0,WMF19,86.360000,86.360000,3108.96,NaN,NaN
12,OTHERS,False,True,0.0,0.0,0.0,OR20200101706032,Paid,SK,OR20200101706032_2,...,Delivered,60.0,55.56,72.0,WMF19,55.560000,55.560000,4000.32,NaN,NaN
13,OTHERS,False,False,0.0,0.0,0.0,XOR20200101706033,Unpaid,SELLER,XOR20200101706033_1,...,Delivered,120.0,109.20,72.0,SEL304,109.200000,109.200000,7862.40,NaN,NaN
14,OTHERS,False,True,0.0,0.0,0.0,OR20200101706034,Paid,SK,OR20200101706034_1,...,Delivered,1206.0,1121.58,6.0,WMF21,9.299764,9.299767,6729.48,NaN,NaN
15,OTHERS,False,True,0.0,0.0,0.0,OR20200101706034,Paid,SK,OR20200101706034_1,...,Delivered,1206.0,1121.58,6.0,WMF21,5.608333,5.607900,6729.48,NaN,NaN
16,OTHERS,False,False,0.0,0.0,0.0,XOR20200101706035,Unpaid,SELLER,XOR20200101706035_1,...,Delivered,56.0,51.91,140.0,SEL436,51.910000,51.910000,7267.40,NaN,NaN
17,OTHERS,False,True,0.0,0.0,0.0,XOR20200101706036,Unpaid,SELLER,XOR20200101706036_1,...,Delivered,56.0,51.91,140.0,SEL436,51.910000,51.910000,7267.40,NaN,NaN
18,OTHERS,False,True,0.0,0.0,0.0,OR20200101706037,Paid,SK,OR20200101706037_1,...,Delivered,280.0,254.80,1.0,WMF20,254.800000,254.800000,254.80,NaN,NaN
19,OTHERS,False,True,0.0,0.0,0.0,OR20200101706037,Paid,SK,OR20200101706037_2,...,Delivered,70.0,52.50,12.0,WMF20,52.500000,52.500000,630.00,NaN,NaN
20,OTHERS,False,True,0.0,0.0,0.0,OR20200101706037,Paid,SK,OR20200101706037_3,...,Delivered,112.0,101.92,2.0,WMF20,101.920000,101.920000,203.84,NaN,NaN
21,OTHERS,False,True,0.0,0.0,0.0,OR20200101706038,Paid,SK,OR20200101706038_1,...,Delivered,1570.0,1317.50,1.0,WMF0,1317.500000,1317.500000,1161.75,NaN,NaN
22,OTHERS,False,True,NaN,NaN,NaN,OR20200101706039,Reverted,SK,OR20200101706039_1,...,NaN,NaN,NaN,NaN,WMF22,NaN,NaN,1636.20,NaN,NaN
23,OTHERS,False,True,0.0,0.0,0.0,OR20200101706040,Paid,SK,OR20200101706040_1,...,Delivered,145.0,134.85,144.0,WMF1,134.850000,134.850000,19418.40,NaN,NaN
24,OTHERS,False,True,0.0,0.0,0.0,OR20200101706040,Paid,SK,OR20200101706040_2,...,Delivered,4200.0,3822.32,2.0,WMF1,22.751905,22.751905,7644.64,NaN,NaN

In [56]:
rtn.merge(ovr, how = 'inner', left_on = '_ProductId', right_on='ProductId')

,_id,_ReturnId,_ReturnedDate,_InvoiceNo,_InvoiceDate,_WhId,_SoldByState,_ReasonForReturn,_OrderId,_FranchiseId,...,invoiceStatus,InvoicedMRP,InvoicedOfferPrice,InvoicedDealQty,whId,ProductB2BPrice,ProductSellingPrice,paidByBalance,cartId,className
0,RT2020010218,RT2020010218,2020-01-02,IN181256196,2019-12-31,WMF1,Karnataka,Return To Origin,OR20191231705049,F100029,...,Delivered,10.0,9.090,24.0,WMF1,9.09,9.090,218.160,NaN,NaN
1,RT2020010218,RT2020010218,2020-01-02,IN181256196,2019-12-31,WMF1,Karnataka,Return To Origin,OR20191231705049,F100029,...,NaN,NaN,NaN,NaN,WMF19,NaN,NaN,563.580,NaN,NaN
2,RT2020010218,RT2020010218,2020-01-02,IN181256196,2019-12-31,WMF1,Karnataka,Return To Origin,OR20191231705049,F100029,...,NaN,NaN,NaN,NaN,WMF5,NaN,NaN,2790.000,NaN,NaN
3,RT2020010218,RT2020010218,2020-01-02,IN181256196,2019-12-31,WMF1,Karnataka,Return To Origin,OR20191231705049,F100029,...,Delivered,10.0,9.090,144.0,SEL209,9.09,9.090,1308.960,NaN,NaN
4,RT2020010218,RT2020010218,2020-01-02,IN181256196,2019-12-31,WMF1,Karnataka,Return To Origin,OR20191231705049,F100029,...,Invoiced,10.0,9.090,12.0,SEL427,9.09,9.090,109.080,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663983,RT202006081,RT202006081,2020-06-08,IN401009566,2020-05-30,WMF28,NaN,Return To Origin,OR20200516822552,F212990,...,Invoiced,10.0,8.278,10.0,SEL405,8.28,8.278,82.780,5e833233b1e5631abb9f0665,Queen
663984,RT202006081,RT202006081,2020-06-08,IN401009566,2020-05-30,WMF28,NaN,Return To Origin,OR20200516822552,F212990,...,Delivered,36000.0,29800.800,1.0,SEL672,0.00,8.278,29800.800,5e83385d4dc22b14b80f485c,Queen
663985,RT202006081,RT202006081,2020-06-08,IN401009566,2020-05-30,WMF28,NaN,Return To Origin,OR20200516822552,F212990,...,Invoiced,10.0,8.278,144.0,SEL405,8.28,8.278,1192.032,5e8337c4690a8314736e10fc,Queen
663986,RT202006081,RT202006081,2020-06-08,IN401009566,2020-05-30,WMF28,NaN,Return To Origin,OR20200516822552,F212990,...,Invoiced,10.0,8.278,26.0,SEL405,8.28,8.278,215.228,5e833c40d3dfd513fe836f75,Queen
663987,RT202006081,RT202006081,2020-06-08,IN401009566,2020-05-30,WMF28,NaN,Return To Origin,OR20200516822552,F212990,...,Invoiced,10.0,8.280,180.0,SEL447,8.28,8.280,1490.400,5e836db6827efc1bab8cb9b2,Queen