In [6]:
my_variable = "       I Am Capitalised"
print(my_variable)
my_stripped = my_variable.strip()
print(my_stripped)
my_lower = my_variable.lower()
print(my_lower)

       I Am Capitalised
I Am Capitalised
       i am capitalised

In [3]:
def move():
    direction = input("Go left or right? ")
    if direction == "left":
        turtle.left(60)
        turtle.forward(50)
    if direction == "right":
        turtle.right(60)
        turtle.forward(50)

In [10]:
word = ''
sentence = ''
print('Please enter some words.')
print('Include a period (.) when you are finished.')
while '.' not in word:
    sentence = word + ' ' + sentence
    word = input('next word: ')
print()
print('Aha! You said:')
print(sentence)

Please enter some words.
Include a period (.) when you are finished.
next word: op
next word: is
next word: her
next word: .

Aha! You said:
her is op

In [12]:
word = ''
sentence = ''
print('Please enter some words.')
print('Include a period (.) when you are finished.')
while '.' not in word:
    word = input('next word: ')
    sentence = word + ' ' + sentence
print()
print('Aha! You said:')
print(sentence)

Please enter some words.
Include a period (.) when you are finished.
next word: 11
next word: is
next word: 99
next word: .

Aha! You said:
. 99 is 11

In [3]:
import turtle
def forward(distance):
    while distance > 0:
        if turtle.distance(0,0) > 100:
            angle = turtle.towards(0,0)
            turtle.setheading(angle)
        turtle.forward(1)
        distance = distance - 1
forward(150)

In [9]:

turtle.reset()

In [11]:
def draw_spiral(radius):
    original_xcor = turtle.xcor()
    original_ycor = turtle.ycor()
    speed = 1
    while True:
        turtle.forward(speed)
        turtle.left(10)
        speed += 0.1
        if turtle.distance(original_xcor, original_ycor) > radius:
            break
draw_spiral(500)

In [ ]:
def forward(distance):
    while distance > 0:
        if (turtle.xcor() > 100
            or turtle.xcor() < -100
            or turtle.ycor() > 100
            or turtle.ycor() < -100):
            turtle.setheading(turtle.towards(0,0))
        turtle.forward(1)
        distance = distance - 1

In [1]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [ ]:
# find the sum of the even-valued terms
# 1, 2, 3, 5, 8, 13, 21, 34, 55, 89

fibo = 1
prev = 0
for i in range(4000000):
    fibo = fibo + prev
    prev= fibo - prev
print(fibo)

In [1]:
import os
os.chdir('E:\\cool_data')
print (os.getcwd())

E:\cool_data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv("auto-mpg.data", sep = '\s+',low_memory=False, header=None)

In [23]:
df.columns=['Component'+str(i) for i in range(1,9)]+['car']

In [24]:
df.head()

,Component1,Component2,Component3,Component4,Component5,Component6,Component7,Component8,car
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [29]:
df.shape
df=df.drop(df[df.Component1>18 ].index)
df.shape

(124, 9)