In [ ]:
import geopandas

In [ ]:
pip install descartes

In [ ]:
from folium import *

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import seaborn as sns; sns.set()
import csv

In [2]:
cd C:\Users\pushkar\Downloads

C:\Users\pushkar\Downloads

In [3]:
# MT List - Raw Data.xlsx
df = pd.read_excel('MT List - Raw Data.xlsx', sheet_name='MT List.')
df.head(10)

,Outlet_id,Outlet_Name,Outlet_Type,Discount_Category_Name,Beat_Name,TI,Latitude,Longitude,Timing,Time(min)
0,11704,Reliance Retail Ltd (Marathalli),MT,BL-Reliance,B1 01,NaN,12.965641,77.701841,15 mnt,15
1,177,Nilgiris Poorva - Marthahalli,MT,BL-Nilgiris(Franchise),B1 01,NaN,12.959591,77.705512,15 mnt,15
2,8356,Big Basket Marthahalli Bangalore,ECOM,BL-Big Basket,B1 01,NaN,12.974617,77.706389,1 hr,60
3,202,Aditya Birla Retail Ltd (More)-(KUNDANHALLI),MT,BL-More,B1 03,NaN,12.964483,77.714825,12 mnt,12
4,160,Hypercity Retail (India) Ltd-Kundanahalli,MT,BL-HyperCity,B1 03,NaN,12.957950,77.716101,30 mnt,30
5,4167,Reliance Retail Ltd (Versova Layout - Kagadas...,MT,BL-Reliance,B1 12,NaN,12.985955,77.668994,15 mnt,15
6,13171,Trent Hyper Market Pvt Ltd (Star Bazar) Munnek...,MT,BL-Trent,B1 80,NaN,12.954353,77.712644,10 mnt,10
7,108,Reliance Retail Ltd (T.C. Palya),MT,BL-Reliance,B1 10,NaN,13.022638,77.696244,15 mnt,15
8,8579,Aditya Birla Retail Ltd (Mega More)-Marthahalli,MT,BL-More,B1 02,NaN,12.947898,77.698732,30 mnt,30
9,25520,Natures Basket Ltd-Godrej Devarabisenahalli,MT,BL-NatureBasket,B1 02,NaN,12.923022,77.695287,10 mnt,10

In [4]:
df.columns

Index(['Outlet_id ', 'Outlet_Name ', 'Outlet_Type ', 'Discount_Category_Name ',
       'Beat_Name ', 'TI', 'Latitude ', 'Longitude ', 'Timing', 'Time(min)'],
      dtype='object')

In [ ]:
df.dropna(axis=0,how='any',subset=['Longitude ','Latitude '],inplace=True)

In [ ]:
# Variable with the Longitude and Latitude
X=df.loc[:,('Outlet_id ','Longitude ','Latitude ')]
X.head(10)

In [ ]:
K_clusters = range(1,10)
kmeans = [KMeans(n_clusters=i) for i in K_clusters]
Y_axis = df[['Latitude ']]
X_axis = df[['Longitude ']]

In [ ]:
score = [kmeans[i].fit(Y_axis).score(Y_axis) for i in range(len(kmeans))]

In [ ]:
# Visualize
plt.plot(K_clusters, score)
plt.xlabel('Number of Clusters')
plt.ylabel('Score')
plt.title('Elbow Curve')
plt.show()

In [ ]:
kmeans = KMeans(n_clusters = 4, init ='k-means++')
kmeans.fit(X[X.columns[1:3]]) # Compute k-means clustering.
X['cluster_label'] = kmeans.fit_predict(X[X.columns[1:3]])

centers = kmeans.cluster_centers_ # Coordinates of cluster centers.
labels = kmeans.predict(X[X.columns[1:3]]) # Labels of each point
X.head(10)

In [ ]:
X.sample(8)

In [ ]:
X.plot.scatter(x = 'Latitude ', y = 'Longitude ', c=labels, s=500, cmap='viridis')
plt.scatter(centers[:, 0], centers[:, 1], c='black', s=200, alpha=0.5)

In [ ]:
X.groupby('cluster_label').count()

In [ ]:
"""
Depicting the essentials from the stated scene
1. Pointing it onto the map
2. Extractable data from the map to look closer
3. Threading it into least possible ddistance and time
"""

In [5]:
df

,Outlet_id,Outlet_Name,Outlet_Type,Discount_Category_Name,Beat_Name,TI,Latitude,Longitude,Timing,Time(min)
0,11704,Reliance Retail Ltd (Marathalli),MT,BL-Reliance,B1 01,NaN,12.965641,77.701841,15 mnt,15
1,177,Nilgiris Poorva - Marthahalli,MT,BL-Nilgiris(Franchise),B1 01,NaN,12.959591,77.705512,15 mnt,15
2,8356,Big Basket Marthahalli Bangalore,ECOM,BL-Big Basket,B1 01,NaN,12.974617,77.706389,1 hr,60
3,202,Aditya Birla Retail Ltd (More)-(KUNDANHALLI),MT,BL-More,B1 03,NaN,12.964483,77.714825,12 mnt,12
4,160,Hypercity Retail (India) Ltd-Kundanahalli,MT,BL-HyperCity,B1 03,NaN,12.957950,77.716101,30 mnt,30
...,...,...,...,...,...,...,...,...,...,...
347,74201,Dus Minute indwell super market pvt Ltd,MT,NaN,B1 15,NaN,12.952978,77.642087,10 mnt,10
348,74483,Reliance Retail Limited - DC,MT,BL-Reliance,B1 75,NaN,13.068908,77.446234,30 mnt,30
349,74660,Trent Hyper Market Pvt Ltd (Hennur),MT,BL-Trent,B1 23,NaN,13.048515,77.645634,10 mnt,10
350,74706,AMAZON RETAIL INDIA PRIVATE LIMITED,ECOM,NaN,B1 09,NaN,12.988778,77.707244,30 mnt,30
351,74761,FUTURE RETAIL LIMITED - DC,MT,NaN,B1 75,NaN,13.328672,77.122346,15 mnt,15

In [6]:
import pandas as pd
from xml.etree import ElementTree
import numpy as np
import folium
from folium.plugins import MarkerCluster

In [7]:
df.columns = df.columns.str.strip()

In [8]:
df.columns

Index(['Outlet_id', 'Outlet_Name', 'Outlet_Type', 'Discount_Category_Name',
       'Beat_Name', 'TI', 'Latitude', 'Longitude', 'Timing', 'Time(min)'],
      dtype='object')

In [9]:
# Variable with the Longitude and Latitude
X=df.loc[:,('Outlet_Name','Longitude','Latitude')]
X.head(10)

                                         Outlet_Name  Longitude   Latitude
0                  Reliance Retail  Ltd (Marathalli)  77.701841  12.965641
1                      Nilgiris Poorva - Marthahalli  77.705512  12.959591
2                   Big Basket Marthahalli Bangalore  77.706389  12.974617
3       Aditya Birla Retail Ltd (More)-(KUNDANHALLI)  77.714825  12.964483
4          Hypercity Retail (India) Ltd-Kundanahalli  77.716101  12.957950
5  Reliance Retail  Ltd (Versova Layout - Kagadas...  77.668994  12.985955
6  Trent Hyper Market Pvt Ltd (Star Bazar) Munnek...  77.712644  12.954353
7                  Reliance Retail  Ltd (T.C. Palya)  77.696244  13.022638
8    Aditya Birla Retail Ltd (Mega More)-Marthahalli  77.698732  12.947898
9        Natures Basket Ltd-Godrej Devarabisenahalli  77.695287  12.923022

In [10]:
X.columns

Index(['Outlet_Name', 'Longitude', 'Latitude'], dtype='object')

In [11]:
locations = X[['Longitude', 'Longitude']]

In [12]:
locationlist = locations.values.tolist()

In [13]:
len(locationlist)

352

In [14]:
locationlist[7]

[77.6962442, 77.6962442]

In [16]:
# JP NAGAR(12.880188,77.576272)

map = folium.Map(location=[12.880188,77.576272], zoom_start=12)
map

In [ ]:
X['Outlet_Name'][point]

In [ ]:
for point in range(0, len(locationlist)):
    folium.Marker(locationlist[point], popup=X['Outlet_Name'][point]).add_to(map)
map

In [ ]:
map3 = folium.Map(location=[12.880188,77.576272], tiles='CartoDB positron', zoom_start=11)

marker_cluster = folium.MarkerCluster().add_to(map3)

for point in range(0, len(locationlist)):
    folium.Marker(locationlist[point], popup='ID:'+df_counters['ID'][point]+' '+df_counters['Name'][point], icon=folium.Icon(color=df_counters["color"][point], icon_color='white', icon='male', angle=0, prefix='fa')).add_to(marker_cluster)
map3